body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color:salmon;
    font-family: 'Arial', sans-serif;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    max-width: 300px;
    margin: auto;
    background-color:aqua;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.display {
    grid-column: span 4;
    background-color:wheat;
    padding: 20px;
    text-align: right;
    font-size: 1.5em;
    border-bottom: 1px solid #ccc;
}

button {
    padding: 20px;
    font-size: 1em;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #f0f0f0;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e0e0e0;
}

button.operator {
    background-color: #ff8c00;
    color: #fff;
}

button.operator:hover {
    background-color: #e07c00;
}

button.double {
    grid-column: span 2;
}

button.clear {
    background-color: #dc3545;
    color: #fff;
}

button.clear:hover {
    background-color: #c82333;
}
